<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h2>Urls:</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Url</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="url,iterStat : ${urls}" th:class="${iterStat.odd}? 'odd'">
                <td>1</td>
                <td th:text="${url.url}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
